.cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:flex-end;
}
.cards img{
	max-width:25vw;
	margin:10px;
	border:3px solid #000;
	box-shadow:3px 3px 8px 0px rgba(0,0,0,0.3);
}